.loadmorebtn {
  background: #6073d6;
  width: 20%;
  margin: 0 50%;
  height: 45px;
  position: relative;
  left: -120px;
  min-height: 50px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 18px;
}

.loadmorebtn p {
  font-family: helvetica;
  font-size: 28px;
  padding: 10px;
}

.loadmorebtn:hover {
  opacity: 0.8;
}
